{% extends "layout.html" %}

{% block content %}
<div class="text-center">
    <h3>{{pretty}}</h3>
</div>
<div>
<a href="https://utilities-3db59a13e37b.herokuapp.com/">Return</a>
to utilities main page.
</div>
<div class="text-left">
    <div>
        <b>Background</b>: {{background|raw}}
    </div>
    <div>
        <b>Instructions</b>: Immediately after <tt>/{{name}}</tt> in the url, {{instructions|raw}}
    </div>
    <div>
        <b>Example(s)</b>: {{examples|raw}}
    </div>
</div>

{% endblock %}
