{% extends "layout.html" %}

{% block content %}
<div class="text-center">
    <h3>{{pretty}}</h3>
</div>
<div class="text-left">
    <div>
        <b>Background</b>: {{background|raw}}
    </div>
    <div>
        <b>Instructions</b>: Immediately after <tt>/{{name}}</tt> in the url, {{instructions|raw}}
    </div>
    <div>
        <b>Examples</b>: {{examples|raw}}
    </div>
</div>

{% endblock %}
