{% extends "layout.html" %}

{% block content %}
<h4>Inputs</h4>
<ul>
    <li> wire length = {{length}}
    <li> rectangle height = {{height}}
    <li> rectangle width = {{width}}
    <li> stud spacing = {{stud}}
    <li> horizontal offset = {{offset}}
</ul>
<h4>Outputs</h4>
<ul>
    <li> y<sub>1</sub> = {{height - y1}}
    <li> y<sub>2</sub> = {{height - y2}}
</ul>
<svg width={{widthPx}} height={{heightPx}}>
    <rect
        id="art"
        width={{widthPx}}
        height={{scale * height}}
        y={{heightPx - scale * height}}
        fill="transparent"
        stroke="black"
    />
    <line
        id="left wire"
        x1="0"
        y1={{heightPx}}
        x2={{scale * (width / 2 - offset)}}
        y2={{heightPx - scale * y1}}
        stroke="black"
    />
    <line
        id="continuation of left wire"
        x1={{scale * (width / 2 - offset)}}
        y1={{heightPx - scale * y1}}
        x2={{widthPx / 2}}
        y2={{heightPx - slope * widthPx / 2}}
        stroke="black"
        stroke-dasharray="1, 2"
    />
    <line
        id="left stud"
        x1={{scale * (width / 2 - offset)}}
        x2={{scale * (width / 2 - offset)}}
        y2={{heightPx}}
        stroke="black"
        stroke-dasharray="1, 2"
    />
    <line
        x1={{scale * (width / 2 - offset)}}
        y1={{heightPx - scale * y1}}
        x2={{scale * (width / 2 + stud - offset)}}
        y2={{heightPx - scale * y2}}
        stroke="black"
    />
    <line
        id="right stud"
        x1={{scale * (width / 2 + stud - offset)}}
        x2={{scale * (width / 2 + stud - offset)}}
        y2={{heightPx}}
        stroke="black"
        stroke-dasharray="1, 2"
    />
    <line
        id="continuation of right wire"
        x1={{widthPx / 2}}
        y1={{heightPx - slope * widthPx / 2}}
        x2={{scale * (width / 2 + stud - offset)}}
        y2={{heightPx - scale * y2}}
        stroke-dasharray="1, 2"
    <line
        id="right wire"
        x1={{scale * (width / 2 + stud - offset)}}
        y1={{heightPx - scale * y2}}
        x2 = {{widthPx}}
        y2 = {{heightPx}}
        stroke="black"
    />
</svg>

{% endblock %}
