{% extends "layout.html" %}

{% block content %}
<div>
    Here is how to use the 2-element output array for the significance-formatted number to render quantities having various types of units:
    <div>
        <ul>
            <li>no units: {{numberString}}{{prefix}}</li>
            <li>dollars: ${{numberString}}{{prefix}}</li>
            <li>grams: {{numberString}} {{prefix}}g</li>
        </ul>
    </div>
</div>

{% endblock %}
